@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@500&display=swap');

/* Top Image Container */
.main-image-container {
    background: linear-gradient(var(--primary-color-transparent), rgba(2, 129, 149, 0.8)), url("../assets/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 82vh;
}

.main-image-container h1 {
    font-family: 'Brygada 1918', serif;
    font-size: 3.5rem;
    color: var(--text-color-1);
}

.main-image-container p {
    color: var(--text-color-1);
}

.primary-outline-btn {
    border: 2px solid var(--text-color-1);
    color: var(--text-color-1);
    transition: all ease-in-out 300ms;
}

.primary-outline-btn:hover {
    background-color: transparent;
    transform: translateY(-2px);
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.2); /*this rgba variant is used only here */
}

/* Section */
.section-heading{
    color: var(--primary-color);
    border-bottom: 0.25rem solid var(--primary-color);
}

.brand-items {
    width: 18rem;
    height: 10rem;
    display: flex;
    border-radius: 0.75rem;
    padding: 2.5rem;
    transition: all ease-in-out 300ms;
}

.brand-items:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 50px var(--primary-color-transparent);
}

/* Media Query */
@media only screen and (max-width: 600px) {
    .main-image-container {
        border-radius: 0;
    }

    .main-image-container h1 {
        font-size: 3rem;
    }

    .brand-items {
        box-shadow: 2px 2px 24px var(--primary-color-transparent);
    }
}