.filter-sidebar-container{
    width: 20vw;
    height: 100%;
    box-shadow: 5px 5px 10px var(--primary-color-transparent);
    color: var(--primary-color);
}

.product-page-container{
    width: 80vw;
}

.list-item-container{
    background-color: transparent;
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
}

.filter-slider{
    width: 90%;
}

@media only screen and (max-width: 900px) {
    .filter-sidebar-container{
        display: none;
    }
    .product-page-container{
        width: 100vw;
    }
}